[2019-12-18 10:02] petr166 opened #4 "Does this implement cache?"
Hi, thanks for the useful library.

I'm wondering if `createThumbnail` generates a new jpeg on every call, regarding if `url` is the same. Because if so, I imagine it will quickly fill a lot of storage with unused images.

[2019-12-19 06:42] souvik-ghosh commented on #4
@petr166 Glad you found it useful!

Well, currently it generates a new image on every call. I understand that cache implementation is a must and I would like to let you know that the work is in progress. Soon I will be releasing a new version with the implementation.

[2019-12-21 09:40] souvik-ghosh commented on #4
@petr166 I have implemented a FIFO cache directory with 100mb max size. It will prevent the library from flooding storage.

[2019-12-21 09:40] #4 closed

[2020-02-07 21:31] adelrodriguez opened #7 "Issue generating thumbnails in iOS"
Package works perfectly on Android, but when creating thumbnails on iOS, both the `height` and `width` of the image are 0.

[2020-02-14 06:29] souvik-ghosh commented on #7
@adelrodriguez Can you please provide bit more information, like -

1. What type of video are you using(local/remote)?
2. The Request Object you are passing.

[2020-03-06 10:35] petr166 opened #8 "Android app freezes"
I'm trying to generate a thumbnail for a remote mp4 video. When calling `createThumbnail()` the app freezes and never recovers. This is the repeating log from Android Studio.

[code]

I'm testing on a real device Samsung Note SM-N975F Android 10, and this is my system info:
[code]

[2020-03-10 23:06] adelrodriguez commented on #7
Hey @souvik-ghosh, sure:

1. I'm using a local video obtained from the user's Camera Roll using `@react-native-community/cameraroll`.
2. The request object:

[code]

[2020-03-11 09:39] VietQuoc commented on #8
Have the same issue.
App freezes when creating thumbnails on Android.
Work well on iOS.

[2020-03-14 14:23] mobbdev opened #9 "Android images saved to gallery"
All generated images are saved to android gallery. Is there a prop that can be set to remove thumbnails after generation?

[2020-03-17 19:14] souvik-ghosh commented on #9
There is no prop like that but, I can work on stopping the generated image being shown in the gallery.
Also, For storing the thumbnails, this library maintains a cache directory that has 100mb maximum size. We can make this size configurable If that helps.

[2020-03-17 19:25] souvik-ghosh commented on #8
Seems like it failed to manipulate the video file, this can happen in case the file is not supported by the underlying android api. I think we should try to catch this exception so that the app doesn't crash.

[2020-03-22 12:01] mobbdev commented on #9
Hey, thanks for replying. Sorry for the late response. I get reports from users that their gallery is spammed with images generated from videos (I am using this plugin to generate thumbnails from videos). Do I need to remove the images after using them, or the cache takes care of this itselft?

[2020-03-28 12:42] souvik-ghosh commented on #9
@mobbdev yes, once the directory size becomes more than 100mb, it removes older generated images to free up 50mb. So the directory size cannot become more than 100mb in size.

[2020-04-13 20:37] mritzman-dg opened #11 "Cannot read property 'create' of undefined"
Getting the following error on Android and iOS when just importing the library like this:

`import { createThumbnail } from "react-native-create-thumbnail";`

Environment:
npm -version: `6.9.0`
node --version: `v10.16.1`
expo cli version: `3.13.1`

package.json dependencies:
`
"react": "16.8.3",
"react-dom": "16.8.3"
"expo": "^35.0.0",
"react-native": "https://github.com/expo/react-native/archive/

[2020-04-14 11:26] souvik-ghosh commented on #7
The 0 `height` and `width` indicates that the underlying ios api could not parse the video file. It may happen in cases such as - unsupported file, invalid path etc. I'm not able to test this currently, as I don't have a physical iPhone; and we can't record videos in simulator. It's woking for remote videos, I've tested.

[2020-04-18 16:22] souvik-ghosh commented on #11
@mritzman-dg This library is a **native module**, so you can not use expo without ejecting. [https://docs.expo.io/versions/latest/bare/customizing/](https://docs.expo.io/versions/latest/bare/customizing/)

[2020-04-18 16:38] #11 closed

[2020-04-19 17:42] souvik-ghosh commented on #9
@mobbdev This issue should be fixed in **v1.1.0**. Added `.nomedia` in the the thumbnail directory to hide it from gallery.

[2020-04-19 17:46] souvik-ghosh commented on #7
@adelrodriguez Can you please check this with **v1.1.0** ? I've made a few changes to the iOS api.

[2020-04-20 07:34] swapanil opened #12 "Build failed in react-native android"
Here is my project configuration

{
"react-native-create-thumbnail": "^1.0.5",
"react": "16.9.0",
 "react-native": "0.61.5",
}

[code]

[2020-04-20 09:48] souvik-ghosh commented on #12
@swapanil Thanks for reporting this issue. This is fixed in **v1.1.1**

[2020-04-20 10:25] swapanil commented on #12
Ok so can you give me any workaround so I can build for now.

[2020-04-20 10:28] souvik-ghosh commented on #12
@swapanil **v1.1.1** has been released. you can install it right away.

[2020-04-21 07:19] #12 closed

[2020-04-21 07:20] #9 closed

[2020-04-21 14:13] swapanil commented on #12
Thanks

[2020-04-21 14:36] mobbdev commented on #9
@souvik-ghosh cool! Thank you!

[2020-04-21 14:52] souvik-ghosh commented on #9
@mobbdev You're welcome!
One catch here is - the previous version of the app needs to be uninstalled from device or this may not work.

[2020-04-24 08:34] souvik-ghosh commented on #8
@petr166 @VietQuoc A few changes were made to the android api. Can you please test this with **v1.1.1**?

[2020-05-03 21:23] harshal2030 opened #16 "Error: null"
Hi friend. I am using react-native-image-picker to pick videos.
Here is the code
[code]
And i keep getting this error
![error](https://user-images.githubusercontent.com/43959510/80926128-d8402900-8db2-11ea-8968-88bf919ed87c.png)

[2020-05-04 12:52] souvik-ghosh commented on #16
@harshal2030 Are you getting this in both android and ios?

[2020-05-04 12:55] harshal2030 commented on #16
Well I don't have ios, I am getting this on Android

[2020-05-04 15:53] zacwasielewski commented on #16
I'm also getting this on Android. Works fine on iOS.

[2020-05-05 20:27] souvik-ghosh commented on #16
@harshal2030 @zacwasielewski  Thanks for the inputs, I was able to reproduce this error. This is occurring in case the `url` provided is invalid. Are you able to play the video using the same path?

In the next version, a more detailed error message will be provided instead of 'null'.

[2020-05-07 16:55] harshal2030 commented on #16
Yes video is playing with same url

[2020-05-11 12:04] soplwang opened #17 "iOS 1.2.0 always throw "File doesn't exist or not supported""
**Describe the bug**
iOS 1.2.0 incorrect lowercase the source url that makes file not found issue on iOS (it's file system is case sensitive).

**To Reproduce**
Steps to reproduce the behavior:
1. Build iOS ImagePicker example app
2. Use image picker to export a video then pass it to `react-native-create-thumbnail`
3. It *ALWAYS* throws `FileNotSupportedException`

**Version**
1.2.0

[2020-05-11 19:04] #17 closed

[2020-05-11 19:14] souvik-ghosh commented on #17
@soplwang Thanks for the contribution! v1.2.1 has been released.

[2020-05-14 08:57] souvik-ghosh commented on #16
@harshal2030 Can you please test this with the latest version?

[2020-05-14 08:59] harshal2030 commented on #16
Okk, I'll back to you within tommorow

[2020-05-20 17:19] ar0692 commented on #16
I am having issue in android, ios its working perfectly

ExceptionsManager.js:173 Unhandled promise rejection Error: setDataSource failed: status = 0xFFFFFFEA
    at promiseMethodWrapper (NativeModules.js:103)
    at createThumb$ (AddPostScreen.js:41)
    at tryCatch (runtime.js:45)
    at Generator.invoke [as _invoke] (runtime.js:274)
    at Generator.prototype.<computed> [as next] (runtime.js:97

[2020-05-20 17:24] ar0692 commented on #16
I want to show duration time of video and video symbol on thumbnail
can we do that? or any work around it

[2020-05-20 17:25] ar0692 opened #19 "Add video time duration and video symbol on thumbnail"
can we add video time duration and video symbol on thumbnail, or any work around it

[2020-05-21 08:59] souvik-ghosh commented on #19
@ar0692 Can you explain a bit more what you're trying to do? If you want to show anything on the thumbnail image, you can easily do that by having an overlay view or using something like [ImageBackground](https://reactnative.dev/docs/imagebackground)

[2020-06-04 07:11] #19 closed

[2020-07-01 21:23] aleluiah opened #20 "I have granted read and write permissions, i can see my path, but how can i access the path using for example videoPlayer thumbnail parameter."
below is my code for example:

<VideoPlayer resizeMode='stretch' thumbnail={{uri: 'file:///data/user/0/com/myfirstproject/cache/thumbnails/thumb-6d12fb87-4200-4a52-85ab-d9a0efa3720f.jpeg'}} repeat={false} playWhenInactive={false} video={{uri: urii}} style={{ maxWidth: '100%', height: 250, padding: 0, margin: 0 }} mediaPlaybackRequiresUserAction = {true} />

[2020-07-01 21:37] aleluiah opened #21 "how do i access thumbnail from local device file using react native video player"
i want to access thumb nail from local device file using react-native-video-player. below is my code

<VideoPlayer resizeMode='stretch' thumbnail={{uri: 'file:///data/user/0/com/myfirstproject/cache/thumbnails/thumb-6d12fb87-4200-4a52-85ab-d9a0efa3720f.jpeg'}} repeat={false} playWhenInactive={false} video={{uri: urii}} style={{ maxWidth: '100%', height: 250, padding: 0, margin: 0 }} mediaPlaybackR

[2020-07-31 19:13] souvik-ghosh commented on #21
@aleluiah in response of `createThumbnail` you will get the path to generated image(jpeg/png) file. Use this path to show the thumbnails like any other image.

[2020-07-31 19:14] souvik-ghosh commented on #20
closing as duplicate of https://github.com/souvik-ghosh/react-native-create-thumbnail/issues/21

[2020-07-31 19:14] #20 closed

[2020-08-01 18:57] aleluiah commented on #21
thanks sir, iappreciate

On Fri, Jul 31, 2020 at 8:13 PM Souvik Ghosh <notifications@github.com>
wrote:

[2020-08-18 20:54] toggm commented on #16
I see the same issue in a project of mine. File exists, permissions are correct. Error doesn't say that much.

[2020-08-26 09:33] #21 closed

[2020-09-02 10:07] alexakasanjeev opened #23 "Thumbnail generated on Android has rotation with it"
**Describe the bug**
Hi, thank you for your library, I'm having a slight problem, I'm able to generate thumbnail successfully, but the Image that is being generated has rotation, see the image

**To Reproduce**
Steps to reproduce the behavior:
1. Send the url to be one of the local video from your android device
[code]
2. Render the thumbnail in Image component

[code]

**Version**
`react-native-c

[2020-09-07 17:27] alexakasanjeev commented on #23
My, mistake, there was a problem with my testing video, sorry :)

[2020-09-07 17:27] #23 closed

[2020-09-09 08:39] prakashw3expert commented on #17
i am still getting this error in   "react-native-create-thumbnail": "^1.2.1",
File doesn't exist or not supported

[2020-09-14 13:28] gfpacheco opened #24 "Animations stutter while generating thumbnails"
**Describe the bug**
When navigating to a new screen that has a few thumbnail components the navigation animation stutters because (I imagine) the thumbnails are being generated in the UI thread.

**To Reproduce**
1. add reactnavigation with two screens
2. on the first one add a button to navigate to the second
3. on the second add a few thumbnail components (that call `createThumbnail` on useEffe

[2020-09-16 15:56] HackJoe opened #25 "Android build warning"
android studio build warning:
API 'variant.getJavaCompile()' is obsolete and has been replaced with 'variant.getJavaCompileProvider()'.

android studio version:4.0.1
react-native version: 0.63.2

[2020-09-22 11:44] Saad9624 opened #26 "[Error: File doesn't exist or not supported]"
**Describe the bug**
The video uri is valid and playing in react-native-video but thumbnail is not being created  showing wrror

**Version**
^1.2.1

createThumbnail({
      url: path,
      timeStamp: 10000,
    })

      .then( (response) =>{
        console.log("Thumnnail path" ,  response );
        if(response.path){
          this.setState({
            imageUri:response.path
          })

[2020-09-26 14:53] ElChawich commented on #17
issue still persisting on iOS on v1.2.1

[2020-09-28 12:43] ElChawich commented on #26
same issue here on iOS, m trying to create a thumbnail for this url "https://dev.libanroot.com:83/media/activities/laylatQadr_9UZbTO5.mp4" but it's giving an error saying "File doesn't exist or not supported".
I tried some other videos and it did work, but this one isn't. On android it's working perfectly.

[2020-10-01 06:46] northoutaman opened #27 "Android- [Error: setDataSource failed: status = 0x80000000]"
In Android once I select the video from the gallery and I'm trying to create the thumbnail via video path in local storage getting the error.

Here the video path:
let response = {
"path": "/storage/emulated/0/DCIM/Camera/VID_20201001_112300280.mp4",
"uri": "content://media/external/video/media/160894"
}

**Version**
react-native-create-thumbnail - ^1.2.1
Android version - 6.0

**Expected Results*

[2020-10-26 13:09] abhishektiwari-kiwi commented on #27
Any update on this?

[2020-10-26 13:26] abhishektiwari-kiwi commented on #27
@northoutaman
I was getting the same error, now resolved, turns out that the fileUri was wrong.
You need to be 100% sure that path for the file is not null, not empty, the file itself exists and valid.

[2020-10-26 13:56] northoutaman commented on #27
@abhishektiwari-kiwi I have validated and the file path is valid and it's not null and empty.

[2020-10-26 14:25] abhishektiwari-kiwi commented on #27
@northoutaman
Well then, please verify the below points.

1. uri should be a filePath, something like this
"file:///data/user/0/com.xxx/xxx/xxxx/xxxx.mp4"
2. you are querying thumbnail at 10th second so, make sure your video is long enough.
3. Make sure you are not decoding the filePath, because library itself do it internally.
4. Make sure you've given READ_EXTERNAL_STORAGE, WRITE_EXTERNAL_STORAG

[2020-10-29 07:10] akug17 opened #28 "Not working in android"
After installing the package my app is getting a native crash the moment I start the app and getting error :
Caused by: java.lang.ClassNotFoundException: Didn't find class "package.name.MainApplication" on path: DexPathList[....]

[2020-10-29 09:05] akug17 commented on #28
i fixed it by cleaning the gradle
command on windows:
cd android>gradlew clean

[2020-10-29 09:05] #28 closed

[2020-10-30 07:48] 349989153 commented on #27
@abhishektiwari-kiwi you're right, I just met the `filePath` issue

[2020-11-01 16:39] pragadeeshk commented on #27
@abhishektiwari-kiwi I am also facing the same issue. Does the library expect the path to begin with 'file://'.
In such case, is 'file:///storage/emulated/0/DCIM/Camera/VID_20201001_112300280.mp4' a valid path?
I am getting the same error on that case as well. Please advice.

[2020-11-02 06:25] abhishektiwari-kiwi commented on #27
@pragadeeshk
I'm just curious. Did you get this error while testing in emulator?

And Yes, the library internally verifies URLUtil.isFileUrl(filePath).
So, let me know if any other scenario you have along with this one?

[2020-11-09 09:14] northoutaman commented on #27
@abhishektiwari-kiwi Thanks now it's working I missed the actual file path. sorry for the late reply.

[2020-11-09 09:14] #27 closed

[2020-11-17 15:05] Bayramito opened #29 "package org.apache.commons.io.comparator does not exist"
I get this error when i try to build my app.

`******\node_modules\react-native-create-thumbnail\android\src\main\java\com\createthumbnail\CreateThumbnailModule.java:27: error: package org.apache.commons.io.comparator does not exist
import org.apache.commons.io.comparator.LastModifiedFileComparator;
                                       ^
****\node_modules\react-native-create-thumbnail\android\sr

[2020-11-17 15:24] vikmanatusEurelis commented on #29
Hello,

I am also facing the same issue only on Android build. IOS build is working fine.

Environnement: `react-native: ^0.63.3, react-native-create-thumbnail:^1.2.1`

[2020-11-17 16:48] riyan10dec commented on #29
Hello,

Me too having the same problem

Env: "react-native": "0.61.5",  react-native-create-thumbnail:^1.2.1

any suggestion for workaround?

[2020-11-17 16:54] boldwade commented on #29
Appears to be a dependency problem with `commons-io`

[2020-11-17 16:59] geek-ibrar commented on #29
In `~/react-native-create-thumbnail/android/build.gradle` change
`implementation 'commons-io:commons-io:+'`
to
`implementation 'commons-io:commons-io:2.8.0'`

[2020-11-17 17:03] boldwade commented on #29
2.8 didn't work for me, I had to use 2.7... I have an open PR https://github.com/souvik-ghosh/react-native-create-thumbnail/pull/30

[2020-11-17 17:05] jjhampton commented on #29
Thanks for the quick work @boldwade  - hopefully maintainers can get that reviewed/merged soon. Preventing all Android builds on CI servers without that.

[2020-11-17 17:06] FernandesTeu commented on #29
worked for me! Thanks @geek-ibrar

[2020-11-17 17:13] cedancp commented on #29
This also worked for me @geek-ibrar

[2020-11-17 17:23] boldwade commented on #29
You're right @geek-ibrar , not sure why my initial 2.8 draft didn't work... but yep it does actually.

[2020-11-17 17:30] riyan10dec commented on #29
thanks bro. it's worked

[2020-11-17 19:00] rkaartikeyan commented on #29
@jjhampton we have done this workaround for CI CD.

[code]

[code]

[2020-11-17 19:02] Bayramito commented on #29
Thanks its worked

[2020-11-18 04:22] KartikLakhani009 opened #31 "react-native build error"
**Describe the bug**
react-native run-android command execute it is stopped and give me an error like  Task :react-native-create-thumbnail:compileDebugJavaWithJavac

**To Reproduce**
Steps to reproduce the behaviour:
1../gradlew clean
2. node_module folder delete and npm install

**Version**
`react-native-create-thumbnail` :^1.2.1
 "react": "16.13.1",
 "react-native": "0.63.2",

more info
/...path

[2020-11-18 06:37] PrayaAmadigaPitasa commented on #31
confirmed, same with me

[2020-11-18 07:28] Anzormumladze commented on #31
same!!!

[2020-11-18 08:47] AnandhuSajeev commented on #31
Same Issue from 18th NOV 2020

[2020-11-18 12:41] zohaib201 commented on #31
In ~/react-native-create-thumbnail/android/build.gradle change
implementation 'commons-io:commons-io:+'
to
implementation 'commons-io:commons-io:2.8.0'

https://github.com/souvik-ghosh/react-native-create-thumbnail/issues/29#issuecomment-729062909

[2020-11-18 15:05] souvik-ghosh commented on #31
Thanks, guys! v1.2.2 has been released with the fix.

[2020-11-18 15:05] #31 closed

[2020-11-18 15:11] souvik-ghosh commented on #29
Thanks, guys! v1.2.2 has been released with the fix.

[2020-11-18 17:01] #29 closed

[2020-11-20 06:57] Atuldhaka commented on #7
hello @souvik-ghosh, i am getting this issue at random sometime it generates the thumbnail in ios and sometime it  says "File doesn't exist or not supported" please help me in this !

[2020-11-28 20:02] akug17 opened #33 "Not working on android api 28 above"
While using api 29 or 30 the lib just doesn't work after giving it the correct file path it throws error:null,
whereas if I use it on api 28 it works. I couldn't find the issue I am also using react-native-media-meta which is having the same issue but the lib is not getting maintained anymore.

[2020-12-14 11:35] marwa-tarek commented on #26
Any updates on this issue? It happens to me too.

[2020-12-14 11:53] ElChawich commented on #26
@marwa-tarek is it not working on both android and iOS for you? for me it was only on iOS and it was in issue from the server.

[2021-01-05 19:57] IcedElect commented on #16
+1

[2021-01-12 13:43] Janak-Nirmal commented on #16
Error is at this function

[code]

If you are on latest react-native-image-picker version response is coming like below

{"fileName": "VID-20210112-WA0015.mp4", "fileSize": 2251360, "uri": "content://media/external/video/media/66056"}

and it goes at,

[code]
and it gives error.

@souvik-ghosh If you can  assist what to change in this I believe this issue will be resolved.

[2021-01-13 12:31] Janak-Nirmal commented on #16
Below is modified version of the getBitMapAtTime function which works as of now.

[code]

In this headers are ignored but it should work as of now till we have final resolution.

[2021-02-08 18:41] livefuture009 commented on #27
I am getting this error for only below Android 9.0 devices and emulators.

file:///data/user/0/com.xxx/cache/rn_image_picker_lib_temp_47dc40e9-3526-46f6-bedd-b302aa846139.mp4
[Error: setDataSource failed: status = 0xFFFFFFEA]

This is the url that I have called. file is existing correctly. I had confirmed already.
On iOS & Android 10 devices, it's working as well.

Could you give me option to solv

[2021-03-07 04:35] lordival commented on #26
no working on android for me. IOS works fine

[2021-03-27 04:26] leonardmns12 commented on #24
@gfpacheco did you solve this problem?

[2021-03-29 12:18] gfpacheco commented on #24
Nop

[2021-05-15 19:22] souvik-ghosh commented on #25
This is fixed in v1.3.0

[2021-05-15 19:22] #25 closed

[2021-05-15 19:24] souvik-ghosh commented on #33
Anyone still having this issue, can you please check with the latest version (1.3.0)?

[2021-05-15 19:25] souvik-ghosh commented on #26
Anyone still having this issue, can you please check with the latest version (1.3.0)?

[2021-05-18 13:56] souvik-ghosh commented on #33
Closing this as of now

[2021-05-18 13:56] #33 closed

[2021-05-18 13:56] souvik-ghosh commented on #26
Closing this as of now

[2021-05-18 13:56] #26 closed

[2021-05-18 14:01] souvik-ghosh commented on #16
@Janak-Nirmal Thanks for the insight! The support for `content URI` was added in @NS-BOBBY-C's PR and is available in v1.3.0. Closing this as of now.

[2021-05-18 14:01] #16 closed

[2021-05-23 19:50] #8 closed

[2021-05-23 19:55] souvik-ghosh commented on #7
@Atuldhaka Note that all video files might not be supported by the OS. This library depends on native OS APIs to generate the thumbnail. Can you first check if they are playable on the device?

[2021-05-23 19:56] souvik-ghosh commented on #7
Closing as of now.

[2021-05-23 19:56] #7 closed

[2021-05-24 06:11] cfreact1 opened #41 "Not able to compile on XCode 12.5"
While compiling on XCode 12.5 i get "Use of undeclared identifier 'data'
<img width="1768" alt="Screenshot 2021-05-24 at 11 40 54 AM" src="https://user-images.githubusercontent.com/84103117/119304482-eba38800-bc84-11eb-9964-b05fa9c10d95.png">
"

[2021-05-24 06:23] #41 closed

[2021-05-28 07:06] andraantariksa opened #43 "Javadoc eror"
[code]

Step to reproduce:
1. `yarn run android`

[2021-05-28 18:13] andraantariksa commented on #43
It worked. Can you explain why?

[2021-05-29 10:10] souvik-ghosh commented on #43
Somehow the Gradle build got messed up in your project. It could be due to a number of reasons, for example - Updating react-native to a newer version.

[2021-05-29 10:10] #43 closed

[2021-05-31 13:22] tamsil25 commented on #17
I'm running on the v1.4.1 and still have the same issue.

[2021-06-16 14:27] vemulanishanth opened #45 "Any plans on supporting react 17 and react native 0.64.2?"
**Work flow:**

Create a new react-native application and try installing this package

**Error Log:**

[code]

**Proposed Solution:**

This is because the package.json looks for explicit dependency on react and react-native.
Since they are peer dependencies and does not affect actual functionality

Replace
[code]
with
[code]
and publish a new version of the package.

**Note:**

Though this is the

[2021-06-18 08:54] Nikolay-Vovk-dataart opened #46 "Sharp thumbnail on android"
**Describe the bug**
Hello. Iam facing the bug on android when creating a thumbnail.

**To Reproduce**
Steps to reproduce the behavior:
1. get image from video image-picker (local video)
2. use the lib as usual (see code example below)

**Version**
`react-native` 0.64.2
`react-native-create-thumbnail` 1.4.1

**Expected Results**
1s thumbnail made by ios and second by android.
![image](https://user

[2021-06-27 13:26] gecusdevus commented on #24
try to use this https://reactnative.dev/docs/interactionmanager

[2021-06-27 19:30] souvik-ghosh commented on #24
@gfpacheco Can you try the solution suggested by @gecusdevus ?

[2021-06-28 01:58] gfpacheco commented on #24
I'm sorry I can't. I don't even work on that project anymore

[2021-06-28 10:06] souvik-ghosh commented on #24
Oh, I see. Closing this as of now.

[2021-06-28 12:03] souvik-ghosh commented on #24
Reopened to test the scenario using https://reactnative.dev/docs/interactionmanager

[2021-07-27 09:24] anhquan291 commented on #45
Hi,
I'm facing the same issue. Any solutions yet? Thanks a lot

[2021-07-27 10:15] NishanthVemula commented on #45
@anhquan291 As temporary solution go for npm install --legacy-peer-deps of you are using npm v7+ it will install npm packages as though like it is npm v4.x and v6.x
But this is not a permanent solution.

[2021-07-27 10:30] anhquan291 commented on #45
thank you so much

[2021-07-30 00:47] eakenbor opened #47 "Error: File doesn't exist or not supported"
I use react-native-image-crop-picker to take a picture using the camera and when I pass the path of the image to createThumbnail I get this error: "File doesn't exist or not supported".

Here is my code:
[code]

The response.path looks like this: "/private/var/mobile/Containers/Data/Application/RR62F5C8-26F5-4B9A-8A3F-3D65BE6207FF/tmp/react-native-image-crop-picker/A90DD27F-6E4E-4E70-B678-D595D84A

[2021-08-06 04:27] DoanDat2511 commented on #47
I have the same problem as you.
you have solution yet ?

[2021-08-19 17:02] jimji1005 commented on #45
FYI npm7 will break a shit ton of library installs, do not use npm7.

[2021-08-20 04:16] NishanthVemula commented on #45
But, what can we do?! A new React-Native Application with `npx react-native init ....`, comes with react 17.
The issues caused by npm7 can be overcome with `legacy peer deps` but the dependency on third-party packages that have configured their package dependencies without future-proofing is the main issue.

The only ways are,
1. Future-proofing by using >= in dependencies. Or actively providing f

[2021-08-24 03:55] KingAmo opened #48 "[Android] JS frame rate dropping when create thumbnail"
**Describe the bug**

https://user-images.githubusercontent.com/29938227/130552565-e2b0fffa-044f-4100-8f00-5541dda7f8f3.mp4

press the icon to start create thumbnail and then JS frame rate drop to zero

in fact i have a list and i should create thumbnail when mount, and in such scenario app even freeze!

**To Reproduce**
Steps to reproduce the behavior:

1.
2.

**Version**
`react-native-create-thu

[2021-08-24 12:04] AravindKumaran opened #49 "Thumbnail is not generating in Play Store version android application"
**Describe the bug**
Create thumbnail keeps on loading in production android application. Its working fine in apk and in local.

**To Reproduce**
Steps to reproduce the behavior:
1. Create thumbnail in Google play store
2. Uploaded aab file in Play store

**Version**
1.2.2

**Expected Results**
Thumbnail should be generated without any issues in production also

**Snack, code example, screenshot,

[2021-08-24 12:13] KingAmo commented on #48
when create multiple thumbnail on the same time , app just freeze and when you press screen , app just ANR...

[2021-08-25 08:55] KingAmo commented on #48
in android [getBitmapAtTime](https://github.com/souvik-ghosh/react-native-create-thumbnail/blob/856b7000fc60e008aa7ebc5d3846804857978846/android/src/main/java/com/createthumbnail/CreateThumbnailModule.java#L142) should run in a separate thread, it will cause ANR if it run in main thread

[2021-08-25 08:56] KingAmo commented on #48
@souvik-ghosh  would you like to help please?

[2021-08-31 02:08] honghong01 commented on #47
Same issue.
Problems occur with high-definition video.

[2021-10-08 04:06] r0b0t3d commented on #48
I have this patch that supports generating thumbnails asynchronous. I used it for months but have no time to create a PR. I will find sometime this weekend to create a PR. In case you need. Here is it

<details>
  <summary>react-native-create-thumbnail+1.4.1.patch</summary>

<p>

[code]
</p>
</details>

[2021-11-10 16:07] siddharth-kt opened #52 "What happens when dirSize gets full ?"
Is just a question, what will happen when dirSize reaches maxLimit (eg : 100MB) ?
Will it empty cache directory for new files ?

[2021-11-10 16:09] #52 closed

[2021-11-10 16:09] siddharth-kt opened #53 "What happens when dirSize gets full ?"
Is just a question, what will happen when dirSize reaches maxLimit (eg : 100MB) ?
Will it empty cache directory for new files ?

[2021-11-17 09:32] Adeel11111 opened #54 "Error: [Error: setDataSource failed: status = 0x80000000]"
I am facing this error continuously
My url is this url: 'https://usaupload.com/video/embed/5kDc/640x320/00005.mp4',

[2021-11-25 05:59] souvik-ghosh commented on #53
@siddharth-kt  Yes. It will delete previously added items to clear about half of the cache dir size.

[2021-11-25 05:59] #53 closed

[2021-11-25 06:00] souvik-ghosh commented on #24
v1.5.0 is released with asynchronous thumbnail generation. Closing this as of now.

[2021-11-25 06:00] #24 closed

[2021-11-25 06:09] souvik-ghosh commented on #45
I've removed the peer dependencies in v1.5.0. closing this as of now.

[2021-11-25 06:09] #45 closed

[2021-11-25 06:10] souvik-ghosh commented on #46
closing this due to inactivity

[2021-11-25 06:10] #46 closed

[2021-11-25 07:44] souvik-ghosh commented on #54
@Adeel11111 The link you provided is an embedded video. This library only supports direct links to videos.

[2021-11-25 07:44] #54 closed

[2021-11-26 08:30] khushal87 opened #56 "[iOS] Rendering the thumbnail throws an error"
The function on iOS throws an error as follows:
[code]

I have used the following code under the `useEffect`.

[code]

On Android, it works well without any issues.

[2021-11-26 09:41] souvik-ghosh commented on #56
@khushal87 Could you specify the library version you're using? is it v1.5.0?

[2021-11-26 10:04] khushal87 commented on #56
Yes @souvik-ghosh

[2021-11-26 17:49] souvik-ghosh commented on #56
@khushal87, Could you provide a few more info -

1. Is the attachment.asset_url a local path ? or remote?
2. the Device name and iOS version you're getting this error on.
3. This library just got updated. Can you check with the previous version(v1.4.1) if you are getting the error?

[2021-11-27 06:50] khushal87 commented on #56
1. Its a remote path
2. iPhone 12 emulator
3. I will check and update you.

Thanks.

[2021-11-28 13:20] souvik-ghosh commented on #56
@khushal87 also, can you confirm the URL scheme? is it HTTPS or HTTP?

[2021-11-28 13:21] khushal87 commented on #56
HTTPS

[2021-12-01 11:46] DreamakerDimas commented on #56
Exactly same problem for me. Android works fine, but iPhone simulator throws this error

[2021-12-01 13:35] DreamakerDimas commented on #56
For me problem is related with this error: https://github.com/changsanjiang/SJVideoPlayer/issues/325

[2021-12-01 14:23] souvik-ghosh commented on #56
@DreamakerDimas @khushal87 The error name for **Code=1718449215** is `kAudioFileUnsupportedDataFormatError`(https://osstatus.com/search/results?platform=all&framework=all&search=1718449215). This may indicate that the video file/codec is not supported by iOS. Can you please check if the video is playable(using `react-native-video`) on the device?

[2021-12-01 14:27] souvik-ghosh commented on #47
@eakenbor This library creates a thumbnail from video files only. You're passing a JPEG image.

[2021-12-01 14:27] #47 closed

[2021-12-02 16:46] souvik-ghosh commented on #49
@AravindKumaran Can you provide any error logs?

[2021-12-09 09:00] abdullahIsa opened #57 "Errors"
Hello, i am getting this error

Error: Requiring module "node_modules\react-native-create-thumbnail\index.js", which threw an exception: TypeError: Cannot read property 'create' of null, js engine: hermes

{"err": [TypeError: Cannot read property 'createThumbnail' of undefined]}

[2021-12-09 10:29] abdullahIsa commented on #57
Hello, sorry works now, just realized this is for video only and also must re-start the project to take effect, thanks.

[2021-12-09 10:29] #57 closed

[2021-12-09 18:28] FeoSilva opened #58 "Android bug compile (Plugin with id 'maven' not found)"
**Describe the bug**
Hello, thanks for creating this library, it's very useful and great. But, I'm facing a bug during the Android compilation as shown below:
<img width="700" alt="Captura de Tela 2021-12-09 às 15 22 32" src="https://user-images.githubusercontent.com/1896093/145454107-32974c23-1c53-4ddc-aa8c-220088dd096b.png">

**Version**
`react-native-create-thumbnail` 1.5.0

`gradle-wrapper.pr

[2021-12-10 19:27] FeoSilva commented on #58
@souvik-ghosh

[2021-12-13 12:44] #58 closed

[2021-12-13 13:46] souvik-ghosh commented on #56
@khushal87 Any update?

[2021-12-14 04:53] khushal87 commented on #56
This seems to be related to mp4 video formats in iOS. I tried uploading a recorded video from android and if I view it on an iOS device or try rendering its thumbnail, the error is generated.

[2021-12-15 17:02] souvik-ghosh commented on #56
I see. Thanks for confirming. closing this.

[2022-01-14 16:12] arrazop commented on #49
I have the same issue but I don't have log

[2022-01-21 11:08] myleshk opened #60 "Compile Error for Android"
**Describe the bug**
Cannot build for Android, got `Task :react-native-create-thumbnail:androidJavadoc FAILED`

**To Reproduce**
Steps to reproduce the behavior:
1. either `npm run android` or `./gradlew build` in `android` folder
2. tried `./gradlew clean` and even `rm -rf ~/.gradle/caches/*`, no effect.

**Version**
`react-native-create-thumbnail` version 1.5.1

**Expected Results**
Able to buil

[2022-02-09 17:40] hamedhemmati commented on #60
I had to add maven { url "https://jcenter.bintray.com" } to allprojects repositories in the build.gradle for it to build properly.

[2022-02-25 08:48] demedos commented on #60
@hamedhemmati  mind opening a PR with the changes?

[2022-02-25 08:53] demedos commented on #49
https://github.com/souvik-ghosh/react-native-create-thumbnail#notes
did you add `READ_EXTERNAL_STORAGE, WRITE_EXTERNAL_STORAGE` permissions in your manifest file?

[2022-04-28 21:08] sania232 opened #62 "setDataSource failed error"
When Im trying this with a youtube video URL it is giving me the below error:
`setDataSource failed: status = 0x80000000`
I followed the example code and am using React Native CLI

[2022-04-30 10:19] Subiyel commented on #62
Same here getting following error:
Error: setDataSource failed: status = 0xFFFFFFEA

`try {
        const response = await createThumbnail({
          url: absolutePath,
          timeStamp: 1,
        });
        console.log("Thumbnail: ", response.path);
      } catch (err) {
        console.error(err);
      } `

[2022-05-03 17:02] souvik-ghosh commented on #62
@sania232 @Subiyel I need a few inputs. Can you please check if the video is playable(using react-native-video) on the device? (using the same path)

[2022-05-03 17:41] Subiyel commented on #62
Yes, the video is playable using the same path via react-native-video. i am picking the video using react-native-image-picker.
For temporary workaround i am now uploading the video to my server and using that url to create thumbnail and it works fine. Issue is occurring only using local file path.

[2022-05-12 14:58] AdamTyler commented on #62
I'm also running into this issue on Android only. For all thumbnails the return I see is: `{"err": [Error: setDataSource failed: status = 0xFFFFFFEA]}`.

[code]

[code]

[2022-05-17 21:43] UzairSoken opened #64 "Getting Black Image When Capture a Thumbnail"
Getting Black Image when i capture a thumbnail

[2022-06-04 07:38] Hamza-Khurshid commented on #27
On Android, I had fixed by making sure the url starts with file://somepath rather than /somepath only

[2022-06-06 08:11] demedos opened #66 "Thumbnail not generating from the storage/emulated folder"
**Describe the bug**
I'm using [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker) to take a video; the path is passed to the createThumbnail function, but even through I get a response, it looks like the file hasn't been created.
I'm testing on a Huawei P40 lite 5G, and it happens both on the development and release apk builds.
My coworkers told me that the

[2022-06-29 04:56] fukemy commented on #57
i got same problem with path
[code]

[2022-07-11 07:23] remorr25 opened #68 "Could not resolve all files for configuration build error"
**Describe the bug**
While compile the app getting error **Could not resolve all files for configuration ':react-native-create-thumbnail:implementation'.**

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app with latest react native configuration

**Version**
"react": "18.0.0",
"react-native": "0.69.1",
"react-native-create-thumbnail": ^1.5.1

**Expected Results**
App should be compi

[2022-07-13 07:16] Jim-Blair commented on #26
@mtahir08 Did you manage to solve it?
Still getting error on version 1.5.1

[2022-07-19 07:02] remorr25 commented on #68
@LucasClaude sorry not yet.

[2022-07-19 12:10] rewdt commented on #68
I'm stuck on the same issue

[2022-08-05 09:20] kakato10 opened #69 "Unable to compile for Android 13 (Android SDK v.33)"
**Describe the bug**
Unable to compile `react-native-create-thumbnail` for Android SDK v.33 Tiramisu (Android 13).

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a React Native project
2. Add `react-native-create-thumbnail`
3. Ensure Gradle JDK 11 and Android SDK 33 are installed on the machine that's gonna be used for the build
4. Trigger app build with the following settings in `b

[2022-08-23 08:15] remorr25 commented on #68
@maugonsal Thanks

[2022-08-23 08:15] #68 closed

[2022-08-29 18:22] siddharth-kt commented on #66
@demedos did you got any solution to this.
I think this issue occurs only on high definition video.
See : https://github.com/souvik-ghosh/react-native-create-thumbnail/issues/47#issuecomment-908838277

[2022-08-30 10:52] demedos commented on #66
Nope, no solution. Huawei devices are still affected by this bug

[2022-09-01 17:40] timoteialbu commented on #69
Would love to hear a resolution on this as well!

[2022-09-03 21:05] souvik-ghosh commented on #69
fixed in v1.6.0

[2022-09-03 21:05] #69 closed

[2022-09-03 21:08] souvik-ghosh commented on #60
This should work in v1.6.0

[2022-09-03 21:08] #60 closed

[2022-09-05 15:11] AlbinCederblad opened #71 "Not working on Android , RN Version 0.65.1"
**Describe the bug**
Fresh install, only importing the module, this is what happens when running app:
[code]
**To Reproduce**
Steps to reproduce the behavior:
on android:
1. npm i react-native-create-thumbnail
2. start
3. run-android

**Version**
latest

Haven't added any code yet, so this is simply with a fresh install and importing the module.

[2022-09-05 16:06] souvik-ghosh commented on #71
This got broken when the support for android 13 was added in v1.6.0. This library now requires android API level 10 or above. It's related to the change in the `MediaMetadataRetriever.release()` API (more info [here](https://developer.android.com/reference/android/media/MediaMetadataRetriever#release())).

@AlbinCederblad, The easiest solution for you would be to use v1.5.1 of this library. And to

[2022-09-05 17:47] AlbinCederblad commented on #71
Thanks!

[2022-09-06 10:11] cuteWarmFrog commented on #71
I upgraded rn to 70 and still getting this error.

[2022-09-06 10:34] souvik-ghosh commented on #71
@cuteWarmFrog, Can you please make sure you followed the upgrade [guide](https://reactnative.dev/docs/upgrading)? Just updating the react-native library won't work.

[2022-09-06 11:50] cuteWarmFrog commented on #71
I upgraded using [this tool](https://react-native-community.github.io/upgrade-helper/). It actually works with 1.51 version

[2022-09-07 11:47] souvik-ghosh commented on #71
@cuteWarmFrog, Sorry, you will also need to add these to the project's `build.gradle`

[code]

[2022-09-07 13:38] cuteWarmFrog commented on #71
@souvik-ghosh I am not sure, that I am able to up these two by 2 versions but still thank you! (tried on empty project, works)

[2022-09-12 12:02] siddharth-kt commented on #71
@souvik-ghosh thanks for the solution but is there any other solution to this since setting
`compileSdkVersion = 33
targetSdkVersion = 33`
might lead to issue with other installed libraries
I am also using react-native 0.70.

[2022-09-15 11:56] DanielAraldi commented on #71
In React Native 0.63.4 this is also happening and we are using the most current version.

[2022-09-15 12:07] luisdesouza10 commented on #71
+1

[2022-09-16 14:36] ecargsid-eht opened #72 "null is not an object (evaluating 'CreateThumbnail.create')"
I tried installing this package for the purpose of creating thumbnails out of video but as soon as i import it, expo throws error (mentioned in the title).

One other error that comes along is:-
![2022-09-16](https://user-images.githubusercontent.com/70902620/190664541-cedbf081-591d-4713-a9c9-4bd88f1cf9d3.png)

Invariant Violation: "main" has not been registered. This can happen if:
* Metro (the l

[2022-09-16 17:02] DanielAraldi commented on #71
Any news?

[2022-09-18 21:47] souvik-ghosh commented on #71
It is fixed in v1.6.1. Dropped support for android 13. The library continues to work with Android < 13.

[2022-09-19 18:00] luisdesouza10 commented on #71
After updating to the new version. This error is happened

`1: Task failed with an exception.
-----------
* Where:
Build file '/Users/leader/Documents/Projetos/APP/notify_app/node_modules/react-native-create-thumbnail/android/build.gradle' line: 45

* What went wrong:
A problem occurred evaluating project ':react-native-create-thumbnail'.

* Try:
Run with --stacktrace option to get the stack trace

[2022-09-19 18:02] luisdesouza10 commented on #71
For me this error happened after update.

![Captura de Tela 2022-09-19 às 15 01 40](https://user-images.githubusercontent.com/78109065/191083606-c76a3066-a5d6-43ec-abf7-6d6ed74f2e97.png)

[2022-09-19 18:07] DanielAraldi commented on #71
In my project RN 0.63.4 is still happening. Below is my code in `android/build.gradle`:
[code]
**Note**: I updated the library version to `1.6.2` and `2.0.0-rc.2`, it still didn't work.
In both versions, in the terminal it showed me this:
[code]

[2022-09-19 19:11] souvik-ghosh commented on #71
@DanielAraldi Sorry to hear this. Could you please try **v1.6.3** and confirm if it works? looks like the `namespace` method is not supported in older Gradle versions.

[2022-09-19 19:26] DanielAraldi commented on #71
VERSION `1.6.3` WORKED! Finally a stable version haha!

[2022-09-19 20:21] #71 closed

[2022-09-20 12:19] luisdesouza10 commented on #71
Version `1.6.3` still accusing:

[code]

[2022-09-20 12:55] luisdesouza10 commented on #71
Version `1.6.3` still accusing:

[code]

[2022-09-21 09:19] nitishkumar325 commented on #69
try {
            retriever.release();
        } catch (IOException e) {
            throw new IllegalStateException("File doesn't exist or not supported");
        }
i got the solution just warp this inside try-catch

[2022-09-21 09:27] souvik-ghosh commented on #69
This is added in `v2.0.0-rc.2`. Please use it if you're on android 13 (SDK v33)

[2022-09-21 11:21] souvik-ghosh commented on #72
@ecargsid-eht, Have you rebuilt your project after installing the library?

[2022-09-22 00:33] Bimbimz commented on #60
i have this problem.
iam use v1.6.3 in "react-native": "0.70.1"
adding maven no change.
what is the solution?

[2022-09-22 00:59] Bimbimz commented on #71
i have this problem.
iam use "react-native": "0.70.1"
i try 1.6.3
2.0.0-rc.2
and compileSdkVersion = 33 targetSdkVersion = 33
remains the same
what is the solution?

[2022-09-24 11:02] AlirezaHadjar commented on #71
I handled to run v1.6.3 on rn0.70 by applying the following patch
[code]

[2022-09-25 01:05] Bimbimz commented on #71
Edit: Sorry its Work fine whiteout edit or change.

"react-native": "0.70.1"
"react-native-create-thumbnail": "^1.6.3"

[2022-09-26 11:32] Nsingh0007 opened #74 "A problem occurred configuring project ':react-native-create-thumbnail'. > Installed Build Tools revision 31.0.0 is corrupted. Remove and install again using the SDK Manager."
I am getting this error :-

A problem occurred configuring project ':react-native-create-thumbnail'.

[2022-09-27 21:36] souvik-ghosh commented on #74
The issue isn't related to this library and is caused by the android SDK installation in your system.
Please refer to this - https://stackoverflow.com/questions/68387270/android-studio-error-installed-build-tools-revision-31-0-0-is-corrupted

[2022-09-27 21:36] #74 closed

[2022-10-01 16:38] ecargsid-eht commented on #72
yes .. i did rebuild the project

[2022-10-06 01:06] deflexable opened #75 "Execution failed for task ':react-native-create-thumbnail:compileDebugJavaWithJavac'"
`/Users/macHome/Documents/codes/heavenya/mobile/node_modules/react-native-create-thumbnail/android/src/main/java/com/createthumbnail/CreateThumbnailModule.java:192: error: unreported exception IOException; must be caught or declared to be thrown
        retriever.release();`

This error happens when i change compileSdkVersion and targetSdkVersion from 31 to 33

[2022-10-06 01:24] deflexable commented on #75
changing it to this works
[code]

[2022-10-06 05:09] souvik-ghosh commented on #75
@deflexable, Have you searched the previous issues? This was already answered. You need to use v2.0.0-rc.2 if you're on SDK v33.

[2022-10-06 14:45] #75 closed

[2022-10-07 07:41] anirudh-antino opened #76 "error in CreateThumbnailModule.java IOException is never thrown"
[code]
[code]

[2022-10-15 22:21] ZamirAmiri commented on #76
There is a catch already in the parent function just a ```throws IOException``` would suffice.

[2022-10-18 08:34] fukemy commented on #76
I install v0.16.3 but still got this problem

[2022-10-19 08:54] john-vuong commented on #76
This is the same [issue as react-native-cameraroll](https://github.com/react-native-cameraroll/react-native-cameraroll/issues/402).

Set the compile/target SDK to version 33 (Android 13) to recreate the error.

The [fix](https://github.com/react-native-cameraroll/react-native-cameraroll/pull/419/) is simple.

Thanks!

[2022-10-19 21:31] souvik-ghosh commented on #76
The problem with adding this code is that the library won't work on Android version < 13 anymore. So we planned to support android 13 from v2.0.0 onwards. Currently, it's available as a pre-release `v2.0.0-rc.2`.

[2022-10-25 09:01] #76 closed

[2022-10-25 09:05] souvik-ghosh commented on #64
This cannot/won't be worked upon due to lack of information provided. Please make sure to follow the issue guidelines while reporting an issue.

[2022-10-25 09:05] #64 closed

[2022-10-31 04:55] fukemy commented on #60
not working again in 1.6.3

[2022-10-31 04:55] fukemy commented on #68
not working to me

[2022-10-31 04:59] fukemy commented on #60
bintray is dead

[2022-10-31 06:33] shankar24r commented on #68
Unable to compile the project.

Could not resolve all files for configuration ':react-native-create-thumbnail:implementation'.

[2022-10-31 06:34] fukemy commented on #68
yes I got exactly same issues, dont know why

[2022-10-31 11:43] Veerasathiya commented on #68
remove jcenter() from android/build.gradle

`    repositories {
        google()
        // jcenter()
        mavenCentral()
    }

allprojects {
    repositories {
        maven {
            // All of React Native (JS, Obj-C sources, Android binaries) is installed from npm
            url("$rootDir/../node_modules/react-native/android")
        }
        maven {
            // Android JSC is ins

[2022-10-31 11:47] AzharTechversant opened #78 "react-native android build error"
Describe the bug
While compile the app getting error  * Where:
Build file '...../node_modules/react-native-create-thumbnail/android/build.gradle' line: 114

* What went wrong:
A problem occurred configuring project ':react-native-create-thumbnail'.

     Required by:
         project :react-native-create-thumbnail

To Reproduce
Steps to reproduce the behavior:

Run the app for android with latest

[2022-10-31 11:54] YuriBSSE commented on #68
Perfectly Fine, Thank You @Veerasathiya 👍

[2022-10-31 11:57] sametcl2 commented on #78
I have the same issue

[2022-10-31 13:35] ZakirBangash commented on #68
same here non of the above solution worked for me

[2022-10-31 15:47] saif-o99 commented on #78
Same here, whats wrong?

[2022-10-31 15:48] qusaieilouti99 commented on #78
Same Issue

[2022-10-31 19:10] eltton commented on #78
Same Issue

[2022-11-01 07:22] Anzormumladze commented on #78
Anyone know how long this problem will last?

[2022-11-01 10:20] parthkanani93 commented on #78
Same Issue

[2022-11-03 13:49] WassimYK commented on #78
it works fine for me now

[2022-11-04 20:42] custundag commented on #78
Same issue

[2022-11-05 10:26] kkusanagi commented on #72
Same here. By the way, i'm using typescript.
Currently using version 1.6.3

[2022-11-05 12:12] AhmadAl-Ghalban commented on #78
Same issue

[2022-11-05 16:14] justinadkins commented on #78
Encountering this again as well, is this still due to jcenter?

[2022-11-05 17:28] justinadkins commented on #78
Likely related to this: https://github.com/facebook/react-native/issues/35210

[2022-11-06 13:57] Ppang0405 commented on #78
+1

[2022-11-07 11:02] hardikbhingradiya commented on #78
Please update library version to 1.6.3, its working fine for me.

[2022-11-07 15:32] marcoamt commented on #78
sorry but it doesn't work for us, we are using 1.6.3 version

[2022-11-07 16:25] dequidv opened #79 "timeStamp not working"
**Description**
No matter what timeStamp I put, it always create a thumbnail with the first frame. The thumbnail is rightfully created but not at the timeStamp I use. The timeStamp I try to put is equal to (video duration * 1000) / 2. The video used as reference is then played in react-native video library.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any thumbnail from remote or l

[2022-11-07 16:34] DanielAraldi commented on #78
I'm having the same problem, does anyone have any news?

[2022-11-07 16:52] DanielAraldi commented on #78
I'm using React native `0.63.4` and I had the same problem when generating the APK. I managed to solve it by adding the following code snippet in my `android/build.gradle`:
[code]

[2022-11-09 10:59] IgorGladkyi commented on #72
the same issue on android, ios works fine
react-native": "0.68.2",

![2022-11-09 12 57 40](https://user-images.githubusercontent.com/114420452/200812539-b691ca8a-f79b-4439-b8c6-03ac7cd23428.jpg)

[2022-11-10 09:39] giantslogik commented on #72
same issue with: 2.0.0-rc.2 , RN 69.5

[2022-11-10 10:11] IgorGladkyi commented on #72
try it, works for me
https://github.com/souvik-ghosh/react-native-create-thumbnail/issues/78#issuecomment-1305899521

[2022-11-11 11:08] giantslogik commented on #72
Just updating the minor RN version as mentioned in [react-native/issues/35210](https://github.com/facebook/react-native/issues/35210#issue-1436785719) fixed it for me.

[2022-11-16 13:22] hardik-wts opened #80 "No virtual method get exceptionhandler Unable to create thumnail in android"
**No virtual method get exceptionhandler Unable to create thumnail in android**
Clone your project and run the project from example folder
[code]

`Testing on Android 11 emulator`

**Snack, code example, screenshot, or link to a repository**
[code]

After tunning this code getting below error
![Screenshot_1668604736](https://user-images.githubusercontent.com/87646502/202191575-8d374098-b92b-4e6e-b

[2022-11-16 14:08] hardik-wts commented on #72
Facing same issue even try by downgrading the react native create thumbnail version

[2022-11-22 12:55] hussain-technostacks commented on #80
We are facing the same issue. Its very strange that it was working before and suddently its stopped working on already generated builds. Can anyone suggest the fixes asap ?

[2022-11-23 08:50] souvik-ghosh commented on #80
Could be related to this - https://github.com/facebook/react-native/issues/35210

[2022-11-29 21:05] salihgun commented on #80
try this => https://github.com/salihgun/react-native-video-processor

[2022-11-29 21:05] salihgun commented on #80
Hi, try this => https://github.com/salihgun/react-native-video-processor